---
layout: default
---
<div class="home"> 
  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
<!-- <section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image">
				<img src="{{ post.featured_image }}" alt="{{ post.title }}">
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Прочитајте Више</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Новији Рецепти</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} oд {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Старији Рецепти &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section> -->
