<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A short description for each workout.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/max_build2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4 class="subheading">Max Muscle Build</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is a high intensity workout plan! It is constructed for muscle mass building. I recommend this plan only if you are alredy in shape.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/daniel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4 class="subheading">Body Building by Daniel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It is time to shred baby!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bloodnguts_about200x200.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4 class="subheading">Blood&Guts</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Heavy load!</p>
                                </div>
                            </div>
                        </li>
                        
<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/cardio_female11.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4 class="subheading">Extra Cardio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is a workout to burn extra calories on top of your regular workout!!</p>
                                </div>
                            </div>
                        </li> -->
<!--                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h7 style="font-size:0.3vw;">Share 
                                    <br>a Workout
                                    <br>With Me!
                                </h7>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
