<section id="comments">
	<div class="container">
	    <div class="row">
		<div class="col-lg-12 text-center">
		    <h2 class="section-heading">Give a feedback!</h2>
		    <h3 class="section-subheading text-muted">
		         
		    </h3>
<!-- 		    {% unless page.comments == "nope" %}
			<div id="comment-section" class="comment-section">
				{% include comments.html %}
			</div>
		    {% endunless %} -->
<!-- 			{% unless page.comments == "nope" %}
			{% include comments.html %}
			{% endunless %} -->
			{% unless page.comments == "nope" %}
			<div id="comment-section" class="comment-section">
				{% include comments.html %}
			</div>
			{% endunless %}
		</div>
	    </div>
	</div>
</section>
