<section id="contact">
<form action="https://formspree.io/f/mdobadyq" method="post">
        <input type="hidden" name="_to" value="skolafudbalamokragora@gmail.com" />
        <input type="text" name="_gotcha" style="display: none;">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Контактирајте нас</h2>
                    <h3 class="section-subheading text-muted">Ако желите да нам се придружите, дате предлог или питате питање, пошаљите нам поруку тако што ћете попунити форму испод.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
				<fieldset class="control-group">
                                    <input type="text" class="form-control" placeholder="Ваше Име и Презиме *" id="name" required data-validation-required-message="Молимо Вас унесите Ваше име и презиме.">
                                    <p class="help-block text-danger"></p>
				</fieldset>
                                </div>
                                <div class="control-group form-group">
				<fieldset class="control-group">
                                    <input type="email" class="form-control" placeholder="Ваш Имејл *" id="email" required data-validation-required-message="Молимо Вас унесите Вашу имејл адресу.">
                                    <p class="help-block text-danger"></p>
				</fieldset>
                                </div>
                                <div class="control-group form-group">
				<fieldset class="control-group">
                                    <input type="tel" class="form-control" placeholder="Ваш Број Телефона*" id="phone" required data-validation-required-message="Молимо Вас унесите Ваш број телефона.">
                                    <p class="help-block text-danger"></p>
				</fieldset>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
				<fieldset class="control-group">
                                    <textarea class="form-control" placeholder="Ваша Порука За Нас *" id="message" required data-validation-required-message="Молимо Вас унесите Вашу поруку за нас."></textarea>
                                    <p class="help-block text-danger"></p>
				</fieldset>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
			    <fieldset class="control-group">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Пошаљи</button>
			    </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</section>
