<!-- Donate Section -->
    <section id="donate" class="bg-light-gray">
        <div class="container">
            <div class="row" id="donate">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Support This Project!</h2>
                    <h3 class="section-subheading text-muted">All workouts are free. If you enjoy the page and would like to donate, buy me a coffee by clicking the button bellow!</h3>
<!--                     <h3 class="section-subheading text-muted"> Coding requires lots of coffee (&#128071; Buy me a coffee &#128071;) </h3> -->
<!--                     <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32"> -->
<!--                     <a href="https://www.buymeacoffee.com/nikolaandro"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="" width="25%"/></a> -->
                    <a href="https://www.buymeacoffee.com/theworkout"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=theworkout&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
                    <!--                     <a href="https://www.buymeacoffee.com/nikolaandro"><img src="https://imgs.search.brave.com/LQQuYmet-PjasyhL5X1r94Qfh3p4t0m9sfPk8h4m7GA/rs:fit:738:144:1/g:ce/aHR0cHM6Ly9jZG4t/aW1hZ2VzLTEubWVk/aXVtLmNvbS9tYXgv/NzM4LzEqRzk1dXlv/a0FINEpDNVBwdng0/TG1vUUAyeC5wbmc" alt="" width="55%"  /></a>                     -->                   
<!--                     <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32"> -->
                    <br><br>
                    <h3 class="section-subheading text-muted">Feel free to share.</h3>
                    <a><img src= "{{site.baseurl}}img/QR/myqr_zint.png" /></a>               
                </div>
            </div>
        </div>
    </section>
