<aside class="mealplan-generator-sidebar push" id="sidebar">
    <div class="aggregated-values" style="margin-bottom: 30px;">
        <h3>Aggregated Nutrients</h3>
        <p>Protein: <span id="total-protein">0</span> g</p>
        <p>Carbs: <span id="total-carbs">0</span> g</p>
        <p>Fat: <span id="total-fat">0</span> g</p>
        <p>Calories: <span id="total-aggregated-calories">0</span> kcal</p>
    </div>
    
    <div class="selected-foods-sidebar">
        <h3>Selected Foods</h3>
        <table class="sidebar-table">
            <tr>
                <th>Breakfast</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-breakfast" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Lunch</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-lunch" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Dinner</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-dinner" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Snacks</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-snacks" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</aside>
<button id="toggle-sidebar" class="toggle-sidebar">Current Selection   ☰</button>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const sidebar = document.getElementById('sidebar');
        const toggleButton = document.getElementById('toggle-sidebar');

        toggleButton.addEventListener('click', function() {
            sidebar.classList.toggle('expanded');
        });
    });
</script>