<aside class="mealplan-generator-sidebar push" id="sidebar">
    <div class="aggregated-values" style="margin-bottom: 30px;">
        <h3>Aggregated Nutrients</h3>
        <p>Protein: <span id="total-protein">0</span> g</p>
        <p>Carbs: <span id="total-carbs">0</span> g</p>
        <p>Fat: <span id="total-fat">0</span> g</p>
        <p>Calories: <span id="total-aggregated-calories">0</span> kcal</p>
    </div>
    
    <div class="selected-foods-sidebar">
        <h3>Selected Foods</h3>
        <table class="sidebar-table">
            <tr>
                <th>Breakfast</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-breakfast" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Lunch</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-lunch" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Dinner</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-dinner" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Snacks</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-snacks" class="sidebar-table">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</aside>
<button id="toggle-sidebar" class="toggle-sidebar">Current Selection ☰</button>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const sidebar = document.getElementById('sidebar');
        const toggleButton = document.getElementById('toggle-sidebar');

        toggleButton.addEventListener('click', function() {
            sidebar.classList.toggle('expanded');
        });

        // Close sidebar when clicking outside of it
        document.addEventListener('click', function(event) {
            if (!sidebar.contains(event.target) && !toggleButton.contains(event.target)) {
                sidebar.classList.remove('expanded');
            }
        });

        // Swipe detection
        let touchstartX = 0;
        let touchendX = 0;

        // The code bellow is for swipe detection, but it's being too sensitive
        /* 
        function handleGesture() {
            if (touchendX < touchstartX) {
                sidebar.classList.remove('expanded'); // Swipe left to close
            }
            if (touchendX > touchstartX) {
                sidebar.classList.add('expanded'); // Swipe right to open
            }
        }

        document.addEventListener('touchstart', function(event) {
            touchstartX = event.changedTouches[0].screenX;
        });

        document.addEventListener('touchend', function(event) {
            touchendX = event.changedTouches[0].screenX;
            handleGesture();
        });
        */
    });
</script>