<nav-kitchen>
<!-- 	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a> -->
	
<!-- 	<a class="navbar-brand page-scroll" href="#page-top">The Workout Corner </a> -->
	
  <button id="toggleNav">Toggle Navigation</button>
  <ul id="navList">
    {% for link in site.data.kitchen_navigation %}
      {% assign class = "" %}
      {% if link.link == page.url %}
        {% assign class = class | append: " active" %}
      {% endif %}
      <li><a href="{% include kitchen-relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a></li>
    {% endfor %}
  </ul>	
	<!--  Languages	 -->
<!-- 	<div class="select">
	     <select class="slct-lang">
		{% for language in site.data.languages %}	
		     <option value=language>{{ language.icon }} {{ language.label }}</option>
		{% endfor %}	   
	     </select>      
	</div> -->
</nav-kitchen>

<nav-kitchen>
  
</nav-kitchen>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const toggleButton = document.getElementById("toggleNav");
  const navList = document.getElementById("navList");

  toggleButton.addEventListener("click", function () {
    if (navList.style.display === "block") {
      navList.style.display = "none";
      toggleButton.textContent = "Toggle Navigation";
    } else {
      navList.style.display = "block";
      toggleButton.textContent = "Close Navigation";
    }
  });
});
</script>
