<aside class="mealplan-generator-sidebar push" id="sidebar">
    <div class="aggregated-values" style="margin-bottom: 30px;">
        <h3>Aggregated Nutrients</h3>
        <p>Protein: <span id="total-protein">0</span> g</p>
        <p>Carbs: <span id="total-carbs">0</span> g</p>
        <p>Fat: <span id="total-fat">0</span> g</p>
        <p>Calories: <span id="total-aggregated-calories">0</span> kcal</p>
    </div>
    
    <div class="selected-foods">
        <h3>Selected Foods</h3>
        <table>
            <tr>
                <th style="text-align: center;">Breakfast</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-breakfast">
                        <tr>
                            <th style="width: 50% !important; text-align: center;">Quantity</th>
                            <th style="width: 50% !important; text-align: center;">Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">Lunch</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-lunch">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">Dinner</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-dinner">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">Snacks</th>
            </tr>
            <tr>
                <td>
                    <table id="selected-snacks">
                        <tr>
                            <th>Quantity</th>
                            <th>Food</th>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</aside>
<button id="toggle-sidebar" class="toggle-sidebar">☰</button>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const sidebar = document.getElementById('sidebar');
        const toggleButton = document.getElementById('toggle-sidebar');

        toggleButton.addEventListener('click', function() {
            sidebar.classList.toggle('expanded');
        });
    });
</script>