<!-- Portfolio Grid Section -->
    <section id="nutrition">
        <div class="container">
            <div class="row" id="nutrition">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nutrition</h2>
                    
                    To reach your body goals faster, you should simply follow a diet. How to do it?
                    <br><br>
<!--                     1. Estimate your body fat percentage based on the image bellow.
                    <br><br> -->

                    <img src="img/fat_percentage.png" class="img-responsive img-centered" alt="">
                    <br><br>
<!--                     2. Go to a calirie calculator such as <a href="https://www.calculator.net/calorie-calculator.html" style="color: DodgerBlue;">this one</a>, enter your age, gender, height, weight and then click on <b>+ Settings</b> and enter your previously estimated body fat percentage.
                    <br><br>
                    3. Once you click "Calculate" button, you will get a rough estimate of your maintenance calories in a day.
                    <br><br>
                    4. To set up you macros (protein, fat, and carbs), the easiest way is to eat 1g of protein per pound of body mass. Hence, if you aare 250lbs, you will have 250g of protein in your diet.
                    <br><br>
                    5. Calculate Carbs and Fat. How many calories has each macro nutrient in itself (roughly)?
                    <br>
                    - Protein = 4 cal <br>
                    - Carb = 4 cal <br>
                    - Fat = 9 cal <br>
                    <br>
                    So, a 250lbs person would make sure to have 250g of protein, which is 1000 calories (250 x 4). Let's say that that person wanted to maintain the weight and that person went through the calculator and decided to eat 3300 caloreis per day.
                2300 calories are left to split between fat and carbs. Here comes in your own preference. Do you like more fatty food or carbs based food? It is the fact that if you eat more fatty food, you will eat less food since fat is 9 cal per 1g and carb is 4cal per 1g.
                <br><br>
                    6. How do you add up the food and macros? Well, use a free food tracker such as <a href="https://www.nutritionvalue.org/" style="color: DodgerBlue;">NutritionValue.org</a> or a MyFitnessPal app to enter your food and it will tell you how many calories you accumulated with the food you entered. You want to balance protein, carbs, and fats in the way you previously calculated.
                <br><br>
                    7. Once you try your maintenance for a week or two, if you want to bulk or gain mass, add from 100-500 calories to your diet. I suggest 100-200 every week or two for a smoother transition between the weeks.
                On the other hand, if you want to lose weight, subtrach 100-500 cal. Again, I suggest 100-200 every week or two. Plan your macros and meals accordingly.
                <br><br>
                    8. If you need help, feel free to reach out using the form bellow. Also checkout the kitchen by clicking the button bellow and see some recipes and mealplans. There is not too many, but it might help.
                -->

<!--                 <br> -->
                    <table id="exerciseTable">
                      <tbody>
                          <tr>
                              <th width="3%" style="text-align:center"></th>
                              <th width="97%" style="text-align:center">Instructions</th>
                          </tr>
                      
                              <tr>
                                  <td> 1. </td>
                                  <td> Estimate your body fat percentage based on the image above. </td> 
                              </tr>
                              <tr>
                                  <td> 2. </td>
                                  <td> Go to a calirie calculator such as <a href="https://www.calculator.net/calorie-calculator.html" style="color: DodgerBlue;">this one</a>, enter your age, gender, height, weight and then click on <b>+ Settings</b> and enter your previously estimated body fat percentage. </td> 
                              </tr>
                              <tr>
                                  <td> 3. </td>
                                  <td> Once you click "Calculate" button, you will get a rough estimate of your maintenance calories in a day. </td> 
                              </tr>
                              <tr>
                                  <td> 4. </td>
                                  <td> To set up you macros (protein, fat, and carbs), the easiest way is to eat 1g of protein per pound of body mass. Hence, if you aare 250lbs, you will have 250g of protein in your diet. </td> 
                              </tr>
                              <tr>
                                  <td> 5. </td>
                                  <td> Calculate Carbs and Fat. How many calories has each macro nutrient in itself (roughly)?
                                        <br>
                                        - Protein = 4 cal <br>
                                        - Carb = 4 cal <br>
                                        - Fat = 9 cal <br>
                                        <br>
                                        So, a 250lbs person would make sure to have 250g of protein, which is 1000 calories (250 x 4). Let's say that that person wanted to maintain the weight and that person went through the
                                      calculator and decided to eat 3300 caloreis per day. 2300 calories are left to split between fat and carbs. Here comes in your own preference. 
                                      Do you like more fatty food or carbs based food? It is the fact that if you eat more fatty food, you will eat less food since fat is 9 cal per 1g and carb is 4cal per 1g. </td> 
                              </tr>
                              <tr>
                                  <td> 6. </td>
                                  <td> 
                                      When planning meals, it is wise to start with pre-workout and post-workout meals as they are essential for having more energy during the workout and better recovery after the
                                      workout.
                                      <br>
                                      Preworkout Meal Macros:
                                      <br>
                                      Carbs: 1g per 1kg of body mass
                                      <br>
                                      Protein: 0.5g per 1kg of body mass
                                      <br>
                                      Fats: 0g - 20g
                                      <br>
                                      Note that if your pre-workout meal is close to the workout time, you should eat less fat in the preworkout meal, and if it is further from the workout then you should eat more fat
                                      as the fat is digesting slower. In a perfect wold, you would eat your pre-workout meal around 1 - 1.5 hours before the workout.
                                      <br>
                                      Preworkout Meal Example for 260 lbs person that would eat the meal 1-1.5 h  before the workout:
                                      <br>
                                      Weight: 260 lbs = 118kg    |    Carbs: 118g
                                      <br>
                                      Sex: Male                  |    Protein: 59g
                                      <br>
                                      Training In: 1-1.5h        |    Fats: 10-15g
                                      <br>
                                      <br>
                                      Preworkout Meal Macros:
                                      <br>
                                      Carbs: 1-1.5g per 1kg of body mass or if cutting you can go 0.5g per kg
                                      <br>
                                      Protein: 0.5g per 1kg of body mass
                                      <br>
                                      Fats: less thanb 10g - 20g
                                      <br>
                                      Postworkout Meal Example for 260 lbs person on cutting diet that would eat right after the workout:
                                      <br>
                                      Weight: 260 lbs = 118kg        |    Carbs: 59g
                                      <br>
                                      Sex: Male                      |    Protein: 59g
                                      <br>
                                      Eating right after the workout |    Fats: less than 10-15g
                                      <br>
                                  </td> 
                              </tr>
                              <tr>
                                  <td> 7. </td>
                                  <td> How do you add up the food and macros? Well, use a free food tracker such as <a href="https://www.nutritionvalue.org/" style="color: DodgerBlue;">NutritionValue.org</a> or a 
                                      MyFitnessPal app or Macrofactor app to enter your food and it will tell you how many calories you accumulated with the food you entered. 
                                      You want to balance protein, carbs, and fats in the way you previously calculated. </td> 
                              </tr>
                              <tr>
                                  <td> 8. </td>
                                  <td> Once you try your maintenance for a week or two, if you want to bulk or gain mass, add from 100-500 calories to your diet. I suggest 100-200 every week or two for a smoother transition between the weeks.
                                    On the other hand, if you want to lose weight, subtrach 100-500 cal. Again, I suggest 100-200 every week or two. Plan your macros and meals accordingly. </td> 
                              </tr>
                              <tr>
                                  <td> 9. </td>
                                  <td> If you need help, feel free to reach out using the form bellow. Also checkout the kitchen by clicking the button bellow and see some recipes and mealplans. There is not too many, but it might help. </td> 
                              </tr>
                          </tbody>
                    </table> 

   
         









                    
                    <h3 class="section-subheading text-muted">
                          Check out some recipes and meal plans if you need them. You can find them in <a href="https://nikolaandro.github.io/Workouts_Page/kitchen/eng/">the kitchen</a>. Meal planning will help you reach your goals faster!
                    </h3>
<!--                     <a href="https://nikolaandro.github.io/Workouts_Page/kitchen/eng/" class="btn btn-xl">The Kitchen</a> -->
<!--                     <a href="https://nikolaandro.github.io/Workouts_Page/kitchen/eng/">
                        <div class="col-lg-12 text-center" href="https://nikolaandro.github.io/Workouts_Page/kitchen/eng/">
                            <button class="btn btn-xl"><a href="https://nikolaandro.github.io/Workouts_Page/kitchen/eng/" style="color: #000000">The Kitchen</a></button>
                        </div>
                    </a> -->
                </div>
            </div>
        </div>
    </section>
