<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container" id="muscle_building">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Muscle Building</h2>
                    <h3 class="section-subheading text-muted">Here is our collection of muscle building workouts!</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <!-- Check only for body building workouts -->
                {% if post.category == "Body Building" %} 
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://nikolaandro.github.io/Workouts_Page/workouts/muscle_building{{ post.url }}" class="portfolio-link" data-toggle="modal">
    <!--                     <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal"> -->
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>

