<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Support This Project!</h2>
                    <h3 class="section-subheading text-muted">If you enjoy this page, support it (&#128071; Buy me a coffee &#128071;) to keep posting more workouts!</h3>
                    <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32">
                    <a href="https://www.buymeacoffee.com/nikolaandro"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="" width="55%/></a>
<!--                     <a href="https://www.buymeacoffee.com/nikolaandro"><img src="https://imgs.search.brave.com/LQQuYmet-PjasyhL5X1r94Qfh3p4t0m9sfPk8h4m7GA/rs:fit:738:144:1/g:ce/aHR0cHM6Ly9jZG4t/aW1hZ2VzLTEubWVk/aXVtLmNvbS9tYXgv/NzM4LzEqRzk1dXlv/a0FINEpDNVBwdng0/TG1vUUAyeC5wbmc" alt="" width="55%"  /></a>                     -->
                    
                    <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workouts</h2>
                    <h3 class="section-subheading text-muted">Here is my collection of workouts!</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

