<!-- Services Section -->
     <section id="services" class="bg-light-gray">
             <div class="container">
             <div class="col-lg-12 text-center">
<!--                     <h2 class="section-heading">Ads</h2> -->
               <h3 class="section-subheading text-muted">Keep yourself motivated throughout the workout!<br><br>Checkout the YouTube channel with workout music.</h3>
               </div>
               <div class="row">
                    <div class="col-md-2 col-sm-1">
                    </div>
                    <div class="col-md-8 col-sm-10">
                         <a href="https://www.youtube.com/@theworkoutcorner1072/videos">
                             <img src="img/logo/YouTube-Logo(2)-cropped.png" class="img-responsive img-centered" alt="" href="https://www.youtube.com/@theworkoutcorner1072/videos">
                         </a>
                    </div>
                    <div class="col-md-2 col-sm-1">
                    </div>
                 </div>
             </div>
    </section> 
