<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Активности</h2>
                    <h3 class="section-subheading text-muted">Ситним корацима до великих промена.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-futbol-o fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Тренинзи у Мокрој Гори</h4>
                    <p class="text-muted">Одржавају се два пута седмично у спортској хали која се налази у оквору спортског центра "Проклета авлија" на Дрвенграду. Поред сале, доступно је коришћење теретане, затвореног базена као и сауне.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Тренинзи у Ужицу</h4>
                    <p class="text-muted">Одржавају се два пута седмично у новооснованој хали "Крчагово" у Ужицу.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree-deciduous fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Излети</h4>
                    <p class="text-muted">Једном месечно организујемо једнодневни излет за децу. Упозајемо их са културним добрима и туристичким атракцијама Мокре Горе и Ужица.</p>
                </div>
            </div>
        </div>
    </section>
