<!-- Services Section -->
     <section id="services">
        <div class="container">
<!--             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ads</h2>
                    <h3 class="section-subheading text-muted">Checkout some products online.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
             <div class="container">
               <div class="col-lg-12 text-center">
<!--                     <h2 class="section-heading">Ads</h2> -->
                    <h3 class="section-subheading text-muted">Checkout some people online for more tips.</h3>
                </div>
                 <div class="row">
                     <div class="col-md-3 col-sm-6">
                         <a href="https://www.youtube.com/c/athleanx/videos">
                             <img src="https://imgs.search.brave.com/-kC-L0qE0EiXqVIVIloyyNGT298sMseV58oIiv_-6iU/rs:fit:1200:720:1/g:ce/aHR0cHM6Ly9hdGhs/ZWFueC5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDQv/cGVyZmVjdC1ob21l/LWFybS13b3Jrb3V0/LWJpY2Vwcy10cmlj/ZXBzLXl0LnBuZw" class="img-responsive img-centered" alt="" href="https://www.youtube.com/c/athleanx/videos">
                         </a>
                     </div>
                     <div class="col-md-3 col-sm-6">
                         <a href="https://www.youtube.com/c/SimeonPanda">
                             <img src="https://imgs.search.brave.com/-ujorXp8IbA5mK7UEcyj8Q8_Q7gQhrRwrx-sns0wAs4/rs:fit:748:225:1/g:ce/aHR0cHM6Ly90c2Uy/LmV4cGxpY2l0LmJp/bmcubmV0L3RoP2lk/PU9JUC5GNXlDbHlq/OEVmdjMxTjNnbFNR/U0tBSGFFcyZwaWQ9/QXBp" class="img-responsive img-centered" alt="" href="https://www.youtube.com/c/SimeonPanda">
                         </a>
                     </div>
                    
                 </div>
             </div>
        </div>
    </section> 
