<!-- Coach Section -->
    <section id="coach">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{page.coach_name}} {{page.coach_last_name}}</h2>
                    <h3 class="section-subheading">If you would like a workout catered to you and created by <a id="coach_info">{{page.coach_name}} {{page.coach_last_name}}</a><br><br>
                        feel free to reach out using the contact information bellow!</h3>
                    {% if page.coach_phone %}
                        <ul class="social-buttons">
                            <li style="display:inline">                            
                                <i class="fa fa-phone fa-fw"></i>    
                                <i id="coach_info" href="tel:+{{page.coach_phone}}">  +{{page.coach_phone}}</i>
                            </li>     
                        </ul>
                        <br> 
                    {% endif %}
                    {% if page.coach_email %}
                        <ul class="social-buttons">
                            <li style="display:inline">    
                                <i class="fa fa-envelope-o fa-fw"></i>   
                                <i id="coach_info" href = "mailto:{{page.coach_email}}">  {{page.coach_email}}</i>
                            </li>
                        </ul>  
                    <br>
                    <div class="coach_information" style="display: inline;">
                        <ul class="list-inline social-buttons">
                            <li style="display:inline">                          
                                <li style="display:inline">
                                    <!-- circular icon  -->
                                    <a href="https://www.instagram.com/{{page.coach_instagram}}/">
                                        <i class="fa fa-envelope-o fa-fw"></i>
                                    </a>
                                    <i id="coach_info" href = "mailto:{{page.coach_email}}">  {{page.coach_email}}</i>
                                </li>
                            </li>
                        </ul>  
                    
                        <!-- Text next to the icon  -->
<!--                         <h3 class="section-subheading"><a id="coach_info" href="https://www.instagram.com/{{page.coach_instagram}}/">@{{page.coach_instagram}}</a></h3>
                        <br> -->
                    </div>
                    {% endif %}
                    {% if page.coach_instagram %}
                    <div class="coach_information" style="display: inline;">
                        <ul class="list-inline social-buttons">
                            <li style="display:inline">                          
                                <li>
                                    <!-- circular icon  -->
                                    <a href="https://www.instagram.com/{{page.coach_instagram}}/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </li>
                        </ul>  
                    
                        <!-- Text next to the icon  -->
                        <h3 class="section-subheading"><a id="coach_info" href="https://www.instagram.com/{{page.coach_instagram}}/">@{{page.coach_instagram}}</a></h3>
                        <br>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
