<div class="modal-content noselect">
    {% if page.has_coach == "yes" %}                      
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
    {% else %}
        <a></a>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">

                    {% for week_num in (1..16) %}
                        
                        <!-- <a class="week_num" id="week2"> {{page.week2_num}} </a><br><br> -->
                        {% capture week_num_str %}{{ week_num }}{% endcapture %}
                        {% capture weekNumber %}{{"week" | append: week_num_str | append: '_num'}}{% endcapture %}

                        {% if page[weekNumber] %}
                            <a class="week_num" id="week{{ week_num }}">{{ page[weekNumber] }}</a><br><br>

                            {% for day_num in (1..7) %}
                                {% capture day_num_num %}{{"day" | append: day_num | append: "_num"}}{% endcapture %}
                                {% capture day_num_numy %}{{"day" | append: day_num}}{% endcapture %}
                                {% capture day_id %}{{"day" | append: day_num | append: "w" | append: week_num_str}}{% endcapture %}
                                <pday id="{{day_id}}">
                                    
                                    <daynum>{{ page[day_num_num] }}</daynum>
                                    {{page[day_num_numy]}}
                                </pday><br><br>
                                
                                {% case day_num %}
                                    {% when 1 %}{% assign day_abbr = "mon" %}
                                    {% when 2 %}{% assign day_abbr = "tu" %}
                                    {% when 3 %}{% assign day_abbr = "wed" %}
                                    {% when 4 %}{% assign day_abbr = "th" %}
                                    {% when 5 %}{% assign day_abbr = "fri" %}
                                    {% when 6 %}{% assign day_abbr = "sat" %}
                                    {% when 7 %}{% assign day_abbr = "sun" %}
                                {% endcase %}

                                {% assign day_exc_prefix = day_abbr | append: week_num_str | append: "_exc" %}
                                
                                {% assign day_exc_1 = day_exc_prefix | append: '1' %}
                                
                                {% if page[day_exc_1] %}
                                    <pmusic> 
                                        Music 🔊 
                                        <a href="https://www.youtube.com/watch?v=bhfbI2TvqKw&list=PLLr2453EwZeRHg-E48siVYxSQBZdARysb">EDM</a> |
                                        <a href="https://www.youtube.com/watch?v=p_uceEh7a2w&t=11s">GYM</a>
                                        <br><br>
                                    </pmusic>
                        
                                    <table id="exerciseTable">
                                        <tbody>
                                            <tr>
                                                <th>Exercise</th>
                                                <th width="12%">Sets</th>
                                                <th width="12%">Reps</th>
                                                <th width="17%">Rest Time</th>
                                                <th width="20%">Notes</th>
                                            </tr>
                                            {% for exc_num in (1..17) %}
                                                {% assign exc = day_exc_prefix | append: exc_num %}
                                                {% if page[exc] %}
                                                    <tr>
                                                        <td>{{ page[exc] }}</td>
                                                        {% assign sets = exc | append: "_sets" %}
                                                        <td>{{ page[sets] }}</td> 
                                                        {% assign reps = exc | append: "_reps" %}
                                                        <td>{{ page[reps] }}</td>
                                                        {% assign rest = exc | append: "_rest" %}
                                                        <td>{{ page[rest] }}</td>
                                                        {% assign notes = exc | append: "_notes" %}
                                                        <td>{{ page[notes] }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <ul class="list-inline page-details">
                    
                        <li>Date:
                            <strong><a href="http://startbootstrap.com">{{ page.project-date }}</a>
                            </strong>
                        </li>
    
                    </ul>
	                <button type="button" class="btn btn-default" onclick="window.location.href='{{ site.baseurl }}/';" ><i class="fa fa-times"></i> <a href="{{ site.baseurl }}/">Close</a></button>          
                </div>  
            </div>
        </div>
    </div>
</div>
