<!-- Workout img, description and day table -->
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 noselect">
                <div class="modal-body">
                    <h2><a id="workout_title">{{ page.title }}</a></h2>
                    <hr class="star-primary">
                        <img src="/Workouts_Page/img/{{ page.img_path }}" class="img-responsive img-centered" alt="{{ page.alt }}">

                        {% if page.subtitle %}
                            <table id="dayTable{{ page.subtitle | replace: ' ', '' }}"">
                                <tr>
                                    {% for week_num in (1..13) %}
                                        {% capture test_var %}page.mon{{ week_num }}_exc1{% endcapture %}
                                        <script>
                                          console.log("test_var: {{ test_var }}");
                                        </script>
                                        {% if test_var %}
                                            <th><a href="#week{{ week_num }}">Week {{ week_num }}</a></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% for day_num in (1..8) %}
                                    <tr>
                                        {% for week_num in (1..13) %}
                                            {% capture test_var %}page.mon{{ week_num }}_exc1{% endcapture %}
                                            <script>
                                              console.log("test_var: {{ test_var }}");
                                            </script>
                                            {% if test_var %}
                                                {% assign day_index = (week_num - 1) * 7 + day_num %}
                                                {% assign day_id = "day" | append: day_index | append: "w" | append: week_num %}
                                                <td><a href="#{{ day_id }}">Day {{ day_num }}</a></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <table id="dayTable">
                        {% endif %}
                    <!--                         {% if page.subtitle == "1 week" %}
                            <table id="dayTable1day">
                        {% elsif page.subtitle == "3 weeks"%}
                            <table id="dayTable3day">
                        {% elsif page.subtitle == "6 weeks"%}
                            <table id="dayTable6weeks">       
                                
                        {% else %}
                        
                        <table id="dayTable">
                        {% endif %}
                            <tr>
                                <th><a href="#week1">Week 1 </a></th>
                                {% if page.mon2_exc1 %}
                                    <th><a href="#week2">Week 2 </a></th>
                                    {% if page.mon3_exc1 %}
                                        <th><a href="#week3">Week 3 </a></th>
                                        {% if page.mon4_exc1 %}
                                            <th><a href="#week4">Week 4 </a></th>
                                            {% if page.mon5_exc1 %}
                                                <th><a href="#week5">Week 5 </a></th>
                                                {% if page.mon6_exc1 %}
                                                    <th><a href="#week6">Week 6 </a></th>
                                                    {% if page.mon7_exc1 %}
                                                        <th><a href="#week7">Week 7 </a></th>
                                                        {% if page.mon8_exc1 %}
                                                            <th><a href="#week8">Week 8 </a></th>
                                                            {% if page.mon9_exc1 %}
                                                                <th><a href="#week9">Week 9 </a></th>
                                                                {% if page.mon10_exc1 %}
                                                                    <th><a href="#week10">Week 10 </a></th>
                                                                    {% if page.mon11_exc1 %}
                                                                        <th><a href="#week11">Week 11 </a></th>
                                                                        {% if page.mon12_exc1 %}
                                                                            <th><a href="#week12">Week 12 </a></th>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day1w1" > Day 1</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day1w2" > Day 8</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day1w3" > Day 15</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day1w4" > Day 22</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day1w5" > Day 29</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day1w6" > Day 36</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day1w7" > Day 43</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day1w8" > Day 50</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day1w9" > Day 57</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day1w10" > Day 64</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day1w11" > Day 71</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day1w12" > Day 78</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day2w1" > Day 2</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day2w2" > Day 9</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day2w3" > Day 16</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day2w4" > Day 23</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day2w5" > Day 30</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day2w6" > Day 37</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day2w7" > Day 44</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day2w8" > Day 51</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day2w9" > Day 58</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day2w10" > Day 65</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day2w11" > Day 72</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day2w12" > Day 79</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day3w1" > Day 3</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day3w2" > Day 10</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day3w3" > Day 17</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day3w4" > Day 24</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day3w5" > Day 31</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day3w6" > Day 38</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day3w7" > Day 45</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day3w8" > Day 52</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day3w9" > Day 59</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day3w10" > Day 66</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day3w11" > Day 73</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day3w12" > Day 81</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day4w1" > Day 4</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day4w2" > Day 11</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day4w3" > Day 18</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day4w4" > Day 25</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day4w5" > Day 22</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day4w6" > Day 39</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day4w7" > Day 46</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day4w8" > Day 53</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day4w9" > Day 60</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day4w10" > Day 67</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day4w11" > Day 74</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day4w12" > Day 81</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day5w1" > Day 5</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day5w2" > Day 12</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day5w3" > Day 19</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day5w4" > Day 26</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day5w5" > Day 33</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day5w6" > Day 40</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day5w7" > Day 47</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day5w8" > Day 54</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day5w9" > Day 61</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day5w10" > Day 68</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day5w11" > Day 75</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day5w12" > Day 82</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day6w1" > Day 6</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day6w2" > Day 13</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day6w3" > Day 20</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day6w4" > Day 27</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day6w5" > Day 34</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day6w6" > Day 41</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day6w7" > Day 48</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day6w8" > Day 55</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day6w9" > Day 62</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day6w10" > Day 69</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day6w11" > Day 76</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day6w12" > Day 83</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td><a href="#day7w1" > Day 7</a></td>
                                {% if page.mon2_exc1 %}
                                    <td><a href="#day7w2" > Day 14</a></td>
                                    {% if page.mon3_exc1 %}
                                        <td><a href="#day7w3" > Day 21</a></td>
                                        {% if page.mon4_exc1 %}
                                            <td><a href="#day7w4" > Day 28</a></td>
                                            {% if page.mon5_exc1 %}
                                                <td><a href="#day7w5" > Day 35</a></td>
                                                {% if page.mon6_exc1 %}
                                                    <td><a href="#day7w6" > Day 42</a></td>
                                                    {% if page.mon7_exc1 %}
                                                        <td><a href="#day7w7" > Day 49</a></td>
                                                        {% if page.mon8_exc1 %}
                                                            <td><a href="#day7w8" > Day 56</a></td>
                                                            {% if page.mon9_exc1 %}
                                                                <td><a href="#day7w9" > Day 63</a></td>
                                                                {% if page.mon10_exc1 %}
                                                                    <td><a href="#day7w10" > Day 70</a></td>
                                                                    {% if page.mon11_exc1 %}
                                                                        <td><a href="#day7w11" > Day 77</a></td>
                                                                        {% if page.mon12_exc1 %}
                                                                            <td><a   href="#day7w12" > Day 84</a></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                           
                        </table> -->
                        
                        <br><br>
                        <p>{{ page.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
