<!-- Workout img, description and day table -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 noselect">
                <div class="modal-body">
                    <h2><a id="workout_title">{{ page.title }}</a></h2>
                    <hr class="star-primary">
                        <img src="/Workouts_Page/img/{{ page.img_path }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                        <br>
<!--                         {% if page.subtitle %}
                            <table id="dayTable{{ page.subtitle | replace: ' ', '' }}"">
                        {% else %}
                            <table id="dayTable">
                        {% endif %}
                                <tr>
                                    {% for week_num in (1..13) %}
                                        {% assign dynamic_variable = "mon" | append: week_num | append: "_exc1" %}
                                        <script>
                                          console.log("test_var: {{ dynamic_variable }}");
                                        </script>
                                        {% if page[dynamic_variable] %}
                                            <th><a href="#week{{ week_num }}">Week {{ week_num }}</a></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% for day_num in (1..8) %}
                                    <tr>
                                        {% for week_num in (1..13) %}
                                            {% assign dynamic_variable = "mon" | append: week_num | append: "_exc1" %}
                                           
                                            {% if page[dynamic_variable] %}
                                                {% assign day_index = (week_num - 1) * 7 + day_num %}
                                                {% assign day_id = "day" | append: day_index | append: "w" | append: week_num %}
                                                <td><a href="#{{ day_id }}">Day {{ day_num }}</a></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table> -->
<!--                                 ABOVE IS WORKING                 -->



                                <!-- data-toggle: This attribute specifies the type of toggle action that should be triggered 
                                when the button is clicked. In this case, the value is set to "collapse", indicating that clicking 
                                the button will collapse or expand the target element. 
                                data-target: This attribute specifies the target element that should be affected when the button is clicked. 
                                The value should be a valid CSS selector targeting the element you want to collapse or expand. In your example, 
                                the value is "#weeks-table-collapse", which means that clicking the button will toggle the collapse state 
                                of the element with the ID "weeks-table-collapse"
                                -->
                                 {% for week_num in (1..13) %}
                                    {% assign dynamic_variable = "mon" | append: week_num | append: "_exc1" %}
                                    {% if page[dynamic_variable] %}
                                        <div class="week-container" id="week-container">
                                            <button class="week-table-button" type="button" data-toggle="collapse" data-target="#weeks-table-collapse-{{ week_num }}" aria-expanded="false" aria-controls="weeks-table-collapse-{{ week_num }}">
                                                <span>Week {{ week_num }} <i id="caret-icon-{{ week_num }}" class="fas fa-caret-down"></i></span>
                                            </button>
                                            <div class="collapse" id="weeks-table-collapse-{{ week_num }}">
                                                <ul style="padding-left: 0px">
                                                    {% if page[dynamic_variable] %}
                                                        {% for day_num in (1..7) %}
                                                            {% assign day_id = "day" | append: day_num | append: "w" | append: week_num %}
<!--                                                             {% assign day_index = (week_num - 1) * 7 + day_num %} -->
                                                            <!-- <li class="day-link"><a href="#{{ day_id }}">Day {{ day_num }}</a></li> -->
                                                            <li class="day-link">
                                                                <a style = "margin: 0px; display: block; width: 100%; height: 100%;" href="#{{ day_id }}">Day {{ day_num }}</a>
                                                            </li>

                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <!-- Script for rotating the carrot for 270 degrees when the menu is expanded -->
                                <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        var buttons = document.querySelectorAll(".week-table-button");
                                        buttons.forEach(function(button) {
                                            button.addEventListener("click", function() {
                                                var weekNum = this.getAttribute("data-target").split("-").pop();
                                                console.log("weekNum is: ", weekNum);
                                                var icon = document.getElementById("caret-icon-" + weekNum);
                                                console.log("Icon selected is: ", icon);
                                                icon.classList.toggle("rotate");
                                            });
                                        });
                                    });
                                </script>                        
                        <br>
                        <p>{{ page.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
