---
layout: kitchen_default
lang: eng
---

<style>
  .food-section {
    display: flex;
    flex-direction: column;
  }

  .food-lists {
    display: flex;
    flex-direction: row;
  }

  .food-list {
    margin-right: 20px;
  }
</style>

<div class="container">
  
	
    <section id="snacks" class="food-section">
      <h2>Snacks</h2>

    <div class="food-lists">
	    <div class="food-list">
	      <h3>Rich in Protein</h3>
	      <ul>
	        {% for item in site.data.kitchen_foods.snacks.protein %}
	          <li>{{ item }}</li>
	        {% endfor %}
	      </ul>
	    </div>
	
	    <div class="food-list">
	      <h3>Rich in Carbs</h3>
	      <ul>
	        {% for item in site.data.kitchen_foods.snacks.carbs %}
	          <li>{{ item }}</li>
	        {% endfor %}
	      </ul>
	    </div>
	
	    <div class="food-list">
	      <h3>Rich in Good Fats</h3>
	      <ul>
	        {% for item in site.data.kitchen_foods.snacks.good_fats %}
	          <li>{{ item }}</li>
	        {% endfor %}
	      </ul>
	    </div>
    </div>
  </section>

  <!-- Repeat the above structure for Breakfast and Lunch & Dinner sections -->
  
</div>
<!-- <section class="kitchen-posts">
  
	{% for post in site.posts %}
		{% if post.category == "mealplan" %}
			
        
			<article class="mealprep-item">
			  <span class="mealprep-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
			  <h4 class="mealprep-item-title">
				  <a href="{{site.baseurl}}{{ post.mealplanurl }}" style="color: DodgerBlue;"><b>{{ post.calories | escape }}</b></a><br>
			    		{{ post.macros | escape }}<br>
			    		{{ post.meals | escape }}
			  </h4>
			</article>
     
		{% endif %}
	{% endfor %}
</section> -->
