---
layout: kitchen_default
lang: srb
---

<section class="kitchen-posts">
	{% for post in site.posts %}
		{% if post.category == "mealplan" %}
			
        
			<article class="mealprep-item">
			  <span class="mealprep-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
			  <h4 class="mealprep-item-title">
				  <a href="{{site.baseurl}}{{ post.mealplanurl }}"><b>{{ post.calories | escape }}</b></a><br>
			    <a href="{{site.baseurl}}{{ post.mealplanurl }}">{{ post.macros | escape }}</a><br>
			    <a href="{{site.baseurl}}{{ post.mealplanurl }}">{{ post.meals | escape }}</a>
			  </h4>
			</article>
     
		{% endif %}
	{% endfor %}
</section>
