.calculate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    font-weight: bold;
    padding: 10px 20px; 
    border: none;
    background-color: #fed136; 
    cursor: pointer;
    text-align: center;
    font-size: 16px; 
    border-radius: 5px; 
}

.calculate-btn:hover {
    background-color: #e5b12e; 
}

#bmr-result{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.panel2 {
    background-color: #eeeeee;
    padding: 20px;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}



#calinputtable,
#standardheightweight,
#metricheightweight,
table {
    width: 100%;
    max-width: 500px;
}

#calinputtable td,
#standardheightweight td,
#metricheightweight td,
table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle; 
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row input[type="text"]
{
    flex: 1;
    margin-right: 10px;
    height: 100%; 
    padding-left: 7px;
}

.input-row input[type="number"] 
{
    flex: 1;
    margin-right: 10px;
    padding-left: 7px;
}

.input-row span {
    white-space: nowrap;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 2.5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

.custom-select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

input[type="text"],
input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 2.5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
input[type="button"] {
    background-color: #fed136;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #f0c117;
}

.cbcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.cbcontainer input[type="radio"] {
    display: none;
}

.rbmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.rbmark:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

input[type="radio"]:checked + .rbmark {
    background-color: #66afe9;
}

input[type="radio"]:checked + .rbmark:after {
    opacity: 1;
}

#ccsettingtitle {
    text-align: center;
    margin: 20px 0;
}

#ccsettingcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inuickspan,
.inuipoundspan {
    margin-left: -40px;
    color: #888;
}

.inuifootspan {
    margin-left: -50px;
    color: #888;
  }
.inuiinchspan{
    margin-left: -65px;
    color: #888;
  }

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inuifoot {
    padding-right: 38px;
  }
  .inhalf {
    width: 110px;
  }
.inuipoundspan{
    margin-left: -80px;
    color: #888;
}

#topmenu ul {
    color: #000;
    border-bottom: 1px solid #bbbbbb;
    margin: 12px 0px 0px 0px;
    padding: 0 0 8px 0;
    font-size: 15px;
    font-weight: bold;
  }

  #topmenu ul li {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    margin-left: 0px;
  }

  #topmenu ul li a, #topmenu ul li a:visited {
    color: black;
    background: #fed136;
    border: 1px solid #fed136;
    padding: 8px 5px 11px 5px;
    margin: 0;
    text-decoration: none;
  }

  #topmenu ul #menuon a {
    color: #000;
    background: #eee;
    border: 1px solid #bbbbbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    padding: 8px 5px 11px 5px;
    margin: 0;
    text-decoration: none;
    border-bottom: 2px solid #eee;
  }
  #topmenu ul #menuon a:hover {
    background: #eee;
  }

  #topmenu ul li a:hover {
    background: #eee;
    color: #000;
  }



  #grocery-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grocery-list table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%; 
}

#grocery-list th, #grocery-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#grocery-list th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

#grocery-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

#grocery-list tr:hover {
    background-color: #f1f1f1;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    h2 {
        font-size: 2em !important; /* Make the font size twice as large */
    }

    #topmenu ul #menuon a,
    #topmenu ul li a, #topmenu ul li a:visited,
    #calinputtable td, table td
    {
        font-size: 2em;
    }
    .input-row input[type="text"],
    .input-row input[type="number"]{
        font-size: 1.1em;
    }

    .custom-select {
        font-size: 0.75em;
    }

    #cheightfeet, #cheightinch {
        width: 160px;
    }

    .inuiinchspan{
        margin-left: -110px;
    }

    .inuifootspan{
        margin-left: -70px;
    }

    .inuipoundspan{
        margin-left: -120px;
    }

    .custom-select-wrapper {
        width: 525px;
    }

    .inuickspan {
        margin-left: -60px;
    }

    #bmr-calculate-btn,
    #bmr-clean-btn {
        font-size: 1em;
    }

    #bmr-result{
        font-size: 26px;
    }
}
