
kitchen-html , kitchen-body {
	padding: 0;
	margin: 0;
	line-height: 1.8em;
}

kitchen-body, kitchen-input, kitchen-textarea {
	font-family: 'Fira Sans', sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

kitchen-header {
	text-align: center;
	padding: 80px 0 60px 0;
        display: block;	
}

kitchen-img {
	max-width: 100%;
}

kitchen-a {
	text-decoration: none;
	color: #007eff;
}

nav-kitchen {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #222; //rgba(255, 255, 255, .9);
	z-index: 999;
	font-family: 'Fira Sans', sans-serif;
}

nav-kitchen a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
}

nav-kitchen a.active, nav-kitchen a:active{
	border-radius: 0;
	color: #fff;
	background-color: #fed136;
}

nav-kitchen a:hover {
	outline: 0;
	color: #fed136;
}

nav-kitchen a.active:hover{
	color: #222;
}


/* Reset Select */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #222;
	background-image: none;
	font-size: 20px;
}


/* Remove IE arrow */
select::-ms-expand {
	display: none;
}
/* Custom Select */
.select {
	position: relative;
	display: flex;
	width: 9em;
	height: 3.2em;
	line-height: 3;
	background: #222;
	overflow: hidden;
	border-radius: .25em;
	outline: none !important;
	font-size: 20px;
}
.slct-lang {
/*       margin-top: 0.8em; */
      flex: 1;
      padding: 0 .5em;
      color: #fff;
      cursor: pointer;
      background: #222;
      outline: none !important;
      font-size: 20 px;	
    }
/* Arrow */
.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #34495e; 
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
	color: #FED136;
	margin-top: 0.5em;
}
/* Transition */
.select:hover::after {
	color: #FED136;
}

.kitchen-container {
	max-width: 1100px;
	margin: 0 auto;
}

.kitchen-main-content {
	@media #{$desktop} {
		display: flex;
	}
	padding: 0 30px 50px 30px;
}

.kitchen-content {
	@media #{$desktop} {
		flex: 1;
	}
}

.kitchen-sidebar {
	width: 250px;
	padding: 70px 0 0 0;
	margin: 0 auto;

	@media #{$desktop} {
		margin: 0;
		padding: 0 0 0 70px;
	}

	.author {
		text-align: center;
		p {
			padding: 0;
			margin: 0;
		}
		img {
			width: 200px;
			border-radius: 200px;
			margin: 0 0 10px 0;
		}
	}

	.social-icons {
		display: flex;
		justify-content: center;
		margin: 10px 0 0 0;
		a {
			padding: 3px;
			text-decoration: none;

			&:hover svg {
				fill: #000;
			}
		}

		svg {
			width: 25px;
			height: 25px;
			fill: $light-grey;
		}
	}
}


