nav-kitchen {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #222; //rgba(255, 255, 255, .9);
	z-index: 999;
}

nav-kitchen a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .9em;
}

nav-kitchen a.active, nav-kitchen a:active{
	border-radius: 0;
	color: #fff;
	background-color: #fed136;
}

nav-kitchen a:hover {
	outline: 0;
	color: #fed136;
}

/* Reset Select */
nav-kitchen select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #222;
	background-image: none;
}
/* Remove IE arrow */
nav-kitchen  select::-ms-expand {
	display: none;
}
/* Custom Select */
nav-kitchen  .select {
	position: relative;
	display: flex;
	width: 9em;
	height: 3.2em;
	line-height: 3;
	background: #222;
	overflow: hidden;
	border-radius: .25em;
	outline: none !important;
}
nav-kitchen  .slct-lang {
      margin-top: 0.8em;
      flex: 1;
      padding: 0 .5em;
      color: #fff;
      cursor: pointer;
      background: #222;
      outline: none !important;
    }
/* Arrow */
nav-kitchen  .select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #34495e; 
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
	color: #FED136;
	margin-top: 0.5em;
}
/* Transition */
nav-kitchen  .select:hover::after {
	color: #FED136;
}
