<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index nonselect">

    {% include header.html %}
    {% include services.html %}
    {% include donate.html %}
    {% include list_of_workouts.html %}
    {% include portfolio_body_building.html %}
    {% include portfolio_shredding.html %}  
    {% include about.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
