<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index nonselect">

    {% include header.html %}
    {% include services.html %}
    {% include donate.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
<!--     {% include comments_section.html %} -->
<!--     {% include team.html %} -->
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
