---
layout: kitchen_default
lang: srb
---

<h1>{{page.title}}</h1>
<br><br>
<p>{{page.description}}</p>
<br><br>
<div class="recipe-contents">
	<div class="ingredients">
<!-- 		<h2>{{ page.meal1.name }}</h2> -->
		{{ page.meal1.ingredients_markdown | markdownify }}
	</div>
	<div class="ingredients">
<!-- 		<h2>{{ page.meal2.name }}</h2> -->
		{{ page.meal2.ingredients_markdown | markdownify }}
	</div>

    <!--  Maybe I should have explanation    -->
<!-- 		<div class="directions">
			<h2>Упутства</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div> -->
</div>

<br><br>
<h2>Groceries</h2>

<br>
<table id="exerciseTable">
  <tbody>
      <tr>
          <th>Састојак</th>
          <th width="17%">Количина</th>
          <th width="17%">Количина за 7 дана</th>
          <th width="49%">Белешке</th>    </tr>
      {% if page.food1_name %}
          <tr>
              <td>{{ page.food1_name }}</td>
              <td>{{ page.food1_amount }}</td> 
              <td>{{ page.food1_amount_7 }}</td>
              <td>{{ page.food1_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food2_name %}
          <tr>
              <td>{{ page.food2_name }}</td>
              <td>{{ page.food2_amount }}</td> 
              <td>{{ page.food2_amount_7 }}</td>
              <td>{{ page.food2_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food3_name %}
          <tr>
              <td>{{ page.food3_name }}</td>
              <td>{{ page.food3_amount }}</td> 
              <td>{{ page.food3_amount_7 }}</td>
              <td>{{ page.food3_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food4_name %}
          <tr>
              <td>{{ page.food4_name }}</td>
              <td>{{ page.food4_amount }}</td> 
              <td>{{ page.food4_amount_7 }}</td>
              <td>{{ page.food4_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food5_name %}
          <tr>
              <td>{{ page.food5_name }}</td>
              <td>{{ page.food5_amount }}</td> 
              <td>{{ page.food5_amount_7 }}</td>
              <td>{{ page.food5_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food6_name %}
          <tr>
              <td>{{ page.food6_name }}</td>
              <td>{{ page.food6_amount }}</td> 
              <td>{{ page.food6_amount_7 }}</td>
              <td>{{ page.food6_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food7_name %}
          <tr>
              <td>{{ page.food7_name }}</td>
              <td>{{ page.food7_amount }}</td> 
              <td>{{ page.food7_amount_7 }}</td>
              <td>{{ page.food7_notes }}</td>
          </tr>
      {% endif %} 
      {% if page.food8_name %}
          <tr>
              <td>{{ page.food8_name }}</td>
              <td>{{ page.food8_amount }}</td> 
              <td>{{ page.food8_amount_7 }}</td>
              <td>{{ page.food8_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food9_name %}
          <tr>
              <td>{{ page.food9_name }}</td>
              <td>{{ page.food9_amount }}</td> 
              <td>{{ page.food9_amount_7 }}</td>
              <td>{{ page.food9_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food10_name %}
          <tr>
              <td>{{ page.food10_name }}</td>
              <td>{{ page.food10_amount }}</td> 
              <td>{{ page.food10_amount_7 }}</td>
              <td>{{ page.food10_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food11_name %}
          <tr>
              <td>{{ page.food11_name }}</td>
              <td>{{ page.food11_amount }}</td> 
              <td>{{ page.food11_amount_7 }}</td>
              <td>{{ page.food11_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food12_name %}
          <tr>
              <td>{{ page.food12_name }}</td>
              <td>{{ page.food12_amount }}</td> 
              <td>{{ page.food12_amount_7 }}</td>
              <td>{{ page.food12_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food13_name %}
          <tr>
              <td>{{ page.food13_name }}</td>
              <td>{{ page.food13_amount }}</td> 
              <td>{{ page.food13_amount_7 }}</td>
              <td>{{ page.food13_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food14_name %}
          <tr>
              <td>{{ page.food14_name }}</td>
              <td>{{ page.food14_amount }}</td> 
              <td>{{ page.food14_amount_7 }}</td>
              <td>{{ page.food14_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food15_name %}
          <tr>
              <td>{{ page.food15_name }}</td>
              <td>{{ page.food15_amount }}</td> 
              <td>{{ page.food15_amount_7 }}</td>
              <td>{{ page.food15_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food16_name %}
          <tr>
              <td>{{ page.food16_name }}</td>
              <td>{{ page.food16_amount }}</td> 
              <td>{{ page.food16_amount_7 }}</td>
              <td>{{ page.food16_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food17_name %}
          <tr>
              <td>{{ page.food17_name }}</td>
              <td>{{ page.food17_amount }}</td> 
              <td>{{ page.food17_amount_7 }}</td>
              <td>{{ page.food17_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food18_name %}
          <tr>
              <td>{{ page.food18_name }}</td>
              <td>{{ page.food18_amount }}</td> 
              <td>{{ page.food18_amount_7 }}</td>
              <td>{{ page.food18_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food19_name %}
          <tr>
              <td>{{ page.food19_name }}</td>
              <td>{{ page.food19_amount }}</td> 
              <td>{{ page.food19_amount_7 }}</td>
              <td>{{ page.food19_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food20_name %}
          <tr>
              <td>{{ page.food20_name }}</td>
              <td>{{ page.food20_amount }}</td> 
              <td>{{ page.food20_amount_7 }}</td>
              <td>{{ page.food20_notes }}</td>
          </tr>
      {% endif %}
  </tbody>
</table> 
