---
layout: kitchen_default
lang: srb
---

<h1>{{ page.title }}</h1>
<br><br>
<p>{{ page.description }}</p>
<br><br>
<article class="kitchen-post">
    <div class="mealplan-recipe-contents">
        {% for meal in page %}
            {% if meal[0] contains 'meal' %}
                <div class="mealplan_ingredients">
                    {{ meal[1].ingredients_markdown | markdownify }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</article>
<br><br>
<h2>Groceries</h2>
<br>
<table id="exerciseTable">
    <tbody>
        <tr>
            <th width="5%" style="text-align:center">In Cart</th>
            <th>Item</th>
            <th width="17%">Daily Amount</th>
            <th width="17%">7 Day Amount</th>
            <th width="44%">Notes</th>
        </tr>
        {% for food in page %}
            {% if food[0] contains 'food' %}
                <tr>
                    <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
                    <td>{{ food[1].name }}</td>
                    <td>{{ food[1].amount }}</td>
                    <td>{{ food[1].amount_7 }}</td>
                    <td>{{ food[1].notes }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
