<!doctype html>

<html>
	{% include head.html %}

	<body id="page-top" class="index nonselect" style="line-height: 2; font-family: 'Fira Sans', sans-serif;">
		{% include kitchen_navigation.html %}
		
		<kitchen-header style="text-align: center;">
			<kitchen-a href="{{site.baseurl }}kitchen/eng/">
				<img src="{{ site.baseurl }}{{ site.data.company_details.logo_image }}" width="180" alt="logo" style="display: block; margin: 0 auto;">
			</kitchen-a>					
		</kitchen-header>
		<div class="kitchen-container kitchen-main-content">
 			<section-kitchen class="kitchen-content">{{ content }}</section-kitchen>
			{% include kitchen_mealplan_generator_sidebar.html %}
		</div>
		<kitchen-footer>
			<div class="kitchen-container">
				<hr>
				&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved.
			</div>
		</kitchen-footer>

		{% include js.html %}
	</body>
</html>
