<!doctype html>

<html>
	{% include head.html %}

	<body id="page-top" class="index nonselect" style="line-height=2; font-family: 'Fira Sans', sans-serif;">
		{% include kitchen_navigation.html %}
		
		<kitchen-header>
			<kitchen-a href="{{site.baseurl }}kitchen/srb/">
				<img src="{{ site.baseurl }}{{ site.data.company_details.logo_image }}" width="180" alt="logo">
			</kitchen-a>					
		</kitchen-header>
		<div class="kitchen-container kitchen-main-content">
 			<section class="kitchen-ontent"></section>
			{% include kitchen_sidebar.html %}
		</div>
		
	</body>
</html>
