---
layout: kitchen_default
lang: srb
---

<h1>{{ page.title }}</h1>
<br><br>
<p>{{ page.description }}</p>
<br><br>
<article class="kitchen-post">
    <div class="mealplan-recipe-contents">
        {% for meal in page %}
            {% if meal[0] contains 'meal' %}
                <div class="mealplan_ingredients">
                    {{ meal[1].ingredients_markdown | markdownify }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</article>
<br><br>
<h2>Groceries</h2>
<br>
<table id="exerciseTable">
  <tbody>
      <tr>
          <th width="5%" style="text-align:center">In Cart</th>
          <th>Item</th>
          <th width="20%">Daily Amount</th>
          <th width="20%">7 Day Amount</th>
          <th width="20%">10 Day Amount</th>
          <th width="20%">Store Section</th>
          <th width="20%">Notes</th>
      </tr>
      {% if page.food1_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food1_name }}</td>
              <td>{{ page.food1_amount }}</td> 
              <td>{{ page.food1_amount_7 }}</td>
              <td>{{ page.food1_amount_10 }}</td>
              <td>{{ page.food1_store_section }}</td>
              <td>{{ page.food1_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food2_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food2_name }}</td>
              <td>{{ page.food2_amount }}</td> 
              <td>{{ page.food2_amount_7 }}</td>
              <td>{{ page.food2_amount_10 }}</td>
              <td>{{ page.food2_store_section }}</td>
              <td>{{ page.food2_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food3_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food3_name }}</td>
              <td>{{ page.food3_amount }}</td> 
              <td>{{ page.food3_amount_7 }}</td>
              <td>{{ page.food3_amount_10 }}</td>
              <td>{{ page.food3_store_section }}</td>
              <td>{{ page.food3_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food4_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food4_name }}</td>
              <td>{{ page.food4_amount }}</td> 
              <td>{{ page.food4_amount_7 }}</td>
              <td>{{ page.food4_amount_10 }}</td>
              <td>{{ page.food4_store_section }}</td>
              <td>{{ page.food4_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food5_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food5_name }}</td>
              <td>{{ page.food5_amount }}</td> 
              <td>{{ page.food5_amount_7 }}</td>
              <td>{{ page.food5_amount_10 }}</td>
              <td>{{ page.food5_store_section }}</td>
              <td>{{ page.food5_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food6_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food6_name }}</td>
              <td>{{ page.food6_amount }}</td> 
              <td>{{ page.food6_amount_7 }}</td>
              <td>{{ page.food6_amount_10 }}</td>
              <td>{{ page.food6_store_section }}</td>
              <td>{{ page.food6_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food7_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food7_name }}</td>
              <td>{{ page.food7_amount }}</td> 
              <td>{{ page.food7_amount_7 }}</td>
              <td>{{ page.food7_amount_10 }}</td>
              <td>{{ page.food7_store_section }}</td>
              <td>{{ page.food7_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food8_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food8_name }}</td>
              <td>{{ page.food8_amount }}</td> 
              <td>{{ page.food8_amount_7 }}</td>
              <td>{{ page.food8_amount_10 }}</td>
              <td>{{ page.food8_store_section }}</td>
              <td>{{ page.food8_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food9_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food9_name }}</td>
              <td>{{ page.food9_amount }}</td> 
              <td>{{ page.food9_amount_7 }}</td>
              <td>{{ page.food9_amount_10 }}</td>
              <td>{{ page.food9_store_section }}</td>
              <td>{{ page.food9_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food10_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food10_name }}</td>
              <td>{{ page.food10_amount }}</td> 
              <td>{{ page.food10_amount_7 }}</td>
              <td>{{ page.food10_amount_10 }}</td>
              <td>{{ page.food10_store_section }}</td>
              <td>{{ page.food10_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food11_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food11_name }}</td>
              <td>{{ page.food11_amount }}</td> 
              <td>{{ page.food11_amount_7 }}</td>
              <td>{{ page.food11_amount_10 }}</td>
              <td>{{ page.food11_store_section }}</td>
              <td>{{ page.food11_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food12_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food12_name }}</td>
              <td>{{ page.food12_amount }}</td> 
              <td>{{ page.food12_amount_7 }}</td>
              <td>{{ page.food12_amount_10 }}</td>
              <td>{{ page.food12_store_section }}</td>
              <td>{{ page.food12_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food13_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food13_name }}</td>
              <td>{{ page.food13_amount }}</td> 
              <td>{{ page.food13_amount_7 }}</td>
              <td>{{ page.food13_amount_10 }}</td>
              <td>{{ page.food13_store_section }}</td>
              <td>{{ page.food13_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food14_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food14_name }}</td>
              <td>{{ page.food14_amount }}</td> 
              <td>{{ page.food14_amount_7 }}</td>
              <td>{{ page.food14_amount_10 }}</td>
              <td>{{ page.food14_store_section }}</td>
              <td>{{ page.food14_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food15_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food15_name }}</td>
              <td>{{ page.food15_amount }}</td> 
              <td>{{ page.food15_amount_7 }}</td>
              <td>{{ page.food15_amount_10 }}</td>
              <td>{{ page.food15_store_section }}</td>
              <td>{{ page.food15_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food16_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food16_name }}</td>
              <td>{{ page.food16_amount }}</td> 
              <td>{{ page.food16_amount_7 }}</td>
              <td>{{ page.food16_amount_10 }}</td>
              <td>{{ page.food16_store_section }}</td>
              <td>{{ page.food16_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food17_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food17_name }}</td>
              <td>{{ page.food17_amount }}</td> 
              <td>{{ page.food17_amount_7 }}</td>
              <td>{{ page.food17_amount_10 }}</td>
              <td>{{ page.food17_store_section }}</td>
              <td>{{ page.food17_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food18_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food18_name }}</td>
              <td>{{ page.food18_amount }}</td> 
              <td>{{ page.food18_amount_7 }}</td>
              <td>{{ page.food18_amount_10 }}</td>
              <td>{{ page.food18_store_section }}</td>
              <td>{{ page.food18_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food19_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food19_name }}</td>
              <td>{{ page.food19_amount }}</td> 
              <td>{{ page.food19_amount_7 }}</td>
              <td>{{ page.food19_amount_10 }}</td>
              <td>{{ page.food19_store_section }}</td>
              <td>{{ page.food19_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food20_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food20_name }}</td>
              <td>{{ page.food20_amount }}</td> 
              <td>{{ page.food20_amount_7 }}</td>
              <td>{{ page.food20_amount_10 }}</td>
              <td>{{ page.food20_store_section }}</td>
              <td>{{ page.food20_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food21_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food21_name }}</td>
              <td>{{ page.food21_amount }}</td> 
              <td>{{ page.food21_amount_7 }}</td>
              <td>{{ page.food21_amount_10 }}</td>
              <td>{{ page.food21_store_section }}</td>
              <td>{{ page.food21_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food22_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food22_name }}</td>
              <td>{{ page.food22_amount }}</td> 
              <td>{{ page.food22_amount_7 }}</td>
              <td>{{ page.food22_amount_10 }}</td>
              <td>{{ page.food22_store_section }}</td>
              <td>{{ page.food22_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food23_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food23_name }}</td>
              <td>{{ page.food23_amount }}</td> 
              <td>{{ page.food23_amount_7 }}</td>
              <td>{{ page.food23_amount_10 }}</td>
              <td>{{ page.food23_store_section }}</td>
              <td>{{ page.food23_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food24_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food24_name }}</td>
              <td>{{ page.food24_amount }}</td> 
              <td>{{ page.food24_amount_7 }}</td>
              <td>{{ page.food24_amount_10 }}</td>
              <td>{{ page.food24_store_section }}</td>
              <td>{{ page.food24_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food25_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food25_name }}</td>
              <td>{{ page.food25_amount }}</td> 
              <td>{{ page.food25_amount_7 }}</td>
              <td>{{ page.food25_amount_10 }}</td>
              <td>{{ page.food25_store_section }}</td>
              <td>{{ page.food25_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food26_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food26_name }}</td>
              <td>{{ page.food26_amount }}</td> 
              <td>{{ page.food26_amount_7 }}</td>
              <td>{{ page.food26_amount_10 }}</td>
              <td>{{ page.food26_store_section }}</td>
              <td>{{ page.food26_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food27_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food27_name }}</td>
              <td>{{ page.food27_amount }}</td> 
              <td>{{ page.food27_amount_7 }}</td>
              <td>{{ page.food27_amount_10 }}</td>
              <td>{{ page.food27_store_section }}</td>
              <td>{{ page.food27_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food28_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food28_name }}</td>
              <td>{{ page.food28_amount }}</td> 
              <td>{{ page.food28_amount_7 }}</td>
              <td>{{ page.food28_amount_10 }}</td>
              <td>{{ page.food28_store_section }}</td>
              <td>{{ page.food28_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food29_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food29_name }}</td>
              <td>{{ page.food29_amount }}</td> 
              <td>{{ page.food29_amount_7 }}</td>
              <td>{{ page.food29_amount_10 }}</td>
              <td>{{ page.food29_store_section }}</td>
              <td>{{ page.food29_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food30_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food30_name }}</td>
              <td>{{ page.food30_amount }}</td> 
              <td>{{ page.food30_amount_7 }}</td>
              <td>{{ page.food30_amount_10 }}</td>
              <td>{{ page.food30_store_section }}</td>
              <td>{{ page.food30_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food31_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food31_name }}</td>
              <td>{{ page.food31_amount }}</td> 
              <td>{{ page.food31_amount_7 }}</td>
              <td>{{ page.food31_amount_10 }}</td>
              <td>{{ page.food31_store_section }}</td>
              <td>{{ page.food31_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food32_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food32_name }}</td>
              <td>{{ page.food32_amount }}</td> 
              <td>{{ page.food32_amount_7 }}</td>
              <td>{{ page.food32_amount_10 }}</td>
              <td>{{ page.food32_store_section }}</td>
              <td>{{ page.food32_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food33_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food33_name }}</td>
              <td>{{ page.food33_amount }}</td> 
              <td>{{ page.food33_amount_7 }}</td>
              <td>{{ page.food33_amount_10 }}</td>
              <td>{{ page.food33_store_section }}</td>
              <td>{{ page.food33_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food34_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food34_name }}</td>
              <td>{{ page.food34_amount }}</td> 
              <td>{{ page.food34_amount_7 }}</td>
              <td>{{ page.food34_amount_10 }}</td>
              <td>{{ page.food34_store_section }}</td>
              <td>{{ page.food34_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food35_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food35_name }}</td>
              <td>{{ page.food35_amount }}</td> 
              <td>{{ page.food35_amount_7 }}</td>
              <td>{{ page.food35_amount_10 }}</td>
              <td>{{ page.food35_store_section }}</td>
              <td>{{ page.food35_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food36_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food36_name }}</td>
              <td>{{ page.food36_amount }}</td> 
              <td>{{ page.food36_amount_7 }}</td>
              <td>{{ page.food36_amount_10 }}</td>
              <td>{{ page.food36_store_section }}</td>
              <td>{{ page.food36_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food37_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food37_name }}</td>
              <td>{{ page.food37_amount }}</td> 
              <td>{{ page.food37_amount_7 }}</td>
              <td>{{ page.food37_amount_10 }}</td>
              <td>{{ page.food37_store_section }}</td>
              <td>{{ page.food37_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food38_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food38_name }}</td>
              <td>{{ page.food38_amount }}</td> 
              <td>{{ page.food38_amount_7 }}</td>
              <td>{{ page.food38_amount_10 }}</td>
              <td>{{ page.food38_store_section }}</td>
              <td>{{ page.food38_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food39_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food39_name }}</td>
              <td>{{ page.food39_amount }}</td> 
              <td>{{ page.food39_amount_7 }}</td>
              <td>{{ page.food39_amount_10 }}</td>
              <td>{{ page.food39_store_section }}</td>
              <td>{{ page.food39_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food40_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food40_name }}</td>
              <td>{{ page.food40_amount }}</td> 
              <td>{{ page.food40_amount_7 }}</td>
              <td>{{ page.food40_amount_10 }}</td>
              <td>{{ page.food40_store_section }}</td>
              <td>{{ page.food40_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food41_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food41_name }}</td>
              <td>{{ page.food41_amount }}</td> 
              <td>{{ page.food41_amount_7 }}</td>
              <td>{{ page.food41_amount_10 }}</td>
              <td>{{ page.food41_store_section }}</td>
              <td>{{ page.food41_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food42_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food42_name }}</td>
              <td>{{ page.food42_amount }}</td> 
              <td>{{ page.food42_amount_7 }}</td>
              <td>{{ page.food42_amount_10 }}</td>
              <td>{{ page.food42_store_section }}</td>
              <td>{{ page.food42_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food43_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food43_name }}</td>
              <td>{{ page.food43_amount }}</td> 
              <td>{{ page.food43_amount_7 }}</td>
              <td>{{ page.food43_amount_10 }}</td>
              <td>{{ page.food43_store_section }}</td>
              <td>{{ page.food43_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food44_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food44_name }}</td>
              <td>{{ page.food44_amount }}</td> 
              <td>{{ page.food44_amount_7 }}</td>
              <td>{{ page.food44_amount_10 }}</td>
              <td>{{ page.food44_store_section }}</td>
              <td>{{ page.food44_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food45_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food45_name }}</td>
              <td>{{ page.food45_amount }}</td> 
              <td>{{ page.food45_amount_7 }}</td>
              <td>{{ page.food45_amount_10 }}</td>
              <td>{{ page.food45_store_section }}</td>
              <td>{{ page.food45_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food46_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food46_name }}</td>
              <td>{{ page.food46_amount }}</td> 
              <td>{{ page.food46_amount_7 }}</td>
              <td>{{ page.food46_amount_10 }}</td>
              <td>{{ page.food46_store_section }}</td>
              <td>{{ page.food46_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food47_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food47_name }}</td>
              <td>{{ page.food47_amount }}</td> 
              <td>{{ page.food47_amount_7 }}</td>
              <td>{{ page.food47_amount_10 }}</td>
              <td>{{ page.food47_store_section }}</td>
              <td>{{ page.food47_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food48_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food48_name }}</td>
              <td>{{ page.food48_amount }}</td> 
              <td>{{ page.food48_amount_7 }}</td>
              <td>{{ page.food48_amount_10 }}</td>
              <td>{{ page.food48_store_section }}</td>
              <td>{{ page.food48_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food49_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food49_name }}</td>
              <td>{{ page.food49_amount }}</td> 
              <td>{{ page.food49_amount_7 }}</td>
              <td>{{ page.food49_amount_10 }}</td>
              <td>{{ page.food49_store_section }}</td>
              <td>{{ page.food49_notes }}</td>
          </tr>
      {% endif %}
      {% if page.food50_name %}
          <tr>
              <td style="text-align:center"><input type="checkbox" class="cartCheckbox"></td>
              <td>{{ page.food50_name }}</td>
              <td>{{ page.food50_amount }}</td> 
              <td>{{ page.food50_amount_7 }}</td>
              <td>{{ page.food50_amount_10 }}</td>
              <td>{{ page.food50_store_section }}</td>
              <td>{{ page.food50_notes }}</td>
          </tr>
      {% endif %}
  </tbody>
</table>
