<!doctype html>
<html>
   {% include head.html %}
    <body id="page-top" class="index">
       {% include workout_navbar.html %}
       {% include donate.html %}
       {% include workout_spec.html %}
            
                               
      {% if page.has_coach == "yes" %}
        {% include workout_coach.html%}
      {% else %}
       <a></a>
      {% endif %}
      {% include workout_exercises.html %}
      {% include workout_bottom_label.html %}
       <!--     Infolink Adds    -->
       <script type="text/javascript"> var infolinks_pid = 3375798; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>                            
    </body>
   {% include js.html %}

</html>


